.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    background-color: #88c1d0;
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  
  @media screen and (min-width: 1600px) {
    .section {
      width: 100px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .section {
      width: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 767px) {
    .section {
      width: 100%;
    }
    
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    
    .logo {
      font-weight: bold;
    }
    
    .menu-toggle {
      display: none;
    }
    
    .menu-icon {
      display: block;
      font-size: 20px;
      cursor: pointer;
    }
    
    .menu {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .menu li {
      margin-bottom: 10px;
    }
    
    .menu li a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
    
    #menu-toggle:checked + .menu-icon + .menu {
      display: block;
    }
  }
  
  
  
  