/* Styles pour l'en-tête */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  /* Styles pour le menu de navigation */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 10px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Styles pour le bouton hamburger */
  .navbar-toggle {
    display: none; /* Masquer le bouton par défaut */
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .toggle-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
  }
  
/* Styles pour les résolutions inférieures ou égales à 767px */
@media (max-width: 767px) {
    .navbar-menu.show {
      display: flex; /* Afficher les liens du menu hamburger */
      flex-direction: column; /* Afficher les liens en colonne */
    }
  
    .navbar-menu li {
      margin-left: 0; /* Réinitialiser la marge des liens */
    }
  }
  